.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}

.allan-regular {
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
}

.allan-bold {
  font-family: "Allan", serif;
  font-weight: 700;
  font-style: normal;
}

.antonio-main {
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.antonio-bold {
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}